.pen-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 12px;

  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 1, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  

  margin-top: -130px;
  margin-left: 800px;
}

.pen-container h1 {
  text-align: center;
  align-items: center;
  margin-bottom: -180px;
  color: black;
}

.pen-color-picker-label,
.pen-custom-text-label {
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
  color: #010101;
  display: flex;

}

.pen-color-picker-input,
.pen-custom-text-input {
 
  padding: 5px;
  border-radius: 5px;
    background-color:bisque;
    display: flex;
    width:30%;
}

.pen-wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: -10px;
  display: flex;
}

.pen-svg {
  width: 60%;
  height: 99%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: 20px;
  display: block;

}

.pen-text-overlay {
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  pointer-events: none;
  user-select: none;
  text-align: center;
}

.pen-add-to-cart-btn {
  display: block;
  width: 50%;
  padding: 10px 0;
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

}

.pen-add-to-cart-btn:hover {
  background-color: #218838;
}

.pen-div {
  display: flex;
  width: 1375.5px;
}
